<table class="table">
  <thead class="table-header">
    <tr>
      <th scope="col">Businesses</th>
    </tr>
  </thead>
  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.name, business_path(business) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
