<% if current_admin %>
  <div class="float-right">
      <%= link_to '+ Add a New Business', new_business_path %>
  </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Businesses</th>
    </tr>
  </thead>
  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.name, business_path(business) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
