<%= form_with model: @business do |f| %>
  <div class="form-group">
    <%= label_tag(:name, 'Name') %>
    <%= f.text_field :name, class: 'form-control' %>
    <small id="nameHelp" class="form-text text-muted">Enter the businesses name</small>
  </div>
  <%= f.submit 'Add Business', class: 'btn btn-primary' %>
<% end %>
