<h2>Edit coupon for <%= @coupon.business.name %></h2>
<%= form_with model: @coupon, url: "/coupons/#{@coupon.id}", method: :patch do |form| %>
  <%= render partial: 'coupon', locals: { f: form } %>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
