// Place all the styles related to the coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.barcode-display {
  padding-bottom: 5px;
  table.barby-barcode { border-spacing: 0; }
  tr.barby-row {}
  td.barby-cell { width: 3px; height: 50px; }
  td.barby-cell.on { background: #000; }
}
